[client]
default-character-set  = utf8


[mysqld]
user                    = mysql
character_set_server    = utf8
slow_query_log          = ON
slow_query_log_file     = mysql-slow.log
long_query_time         = 5
lower_case_table_names  = 1
innodb_file_per_table   = 1
innodb_buffer_pool_size = 2G
max_connections         = 400
symbolic-links          = 0
gtid-mode               = ON
enforce_gtid_consistency = ON
log-error               = /var/log/mysqld.log
log_error_verbosity     = 2
pid-file                = /var/run/mysqld/mysqld.pid
skip-name-resolve

server-id               = 216
log-bin                 = mysql-bin
binlog_format           = ROW
expire_logs_days        = 7
#read_only               = 1
#relay_log               = mysql-relay-bin
#log_slave_updates       = ON
#replicate-wild-do-table = bluestore_core_db.%
#slave-skip-errors       = 1062
