[client]
default-character-set  = utf8


[mysqld]
user                    = mysql
character_set_server    = utf8
slow_query_log          = ON
long_query_time         = 5
lower_case_table_names  = 1
innodb_file_per_table   = 1
innodb_buffer_pool_size = 5G
max_connections         = 1000
symbolic-links          = 0
gtid-mode               = ON
sql_mode                = NO_AUTO_CREATE_USER,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
log-error               = /var/log/mysqld.log
pid-file                = /var/run/mysqld/mysqld.pid
enforce_gtid_consistency = ON
skip-name-resolve
explicit_defaults_for_timestamp

server-id               = 216
log-bin                 = mysql-bin
binlog_format           = mixed
expire_logs_days        = 7
#read_only               = 1
#relay_log               = mysql-relay-bin
#log_slave_updates       = ON
#replicate-wild-do-table = bluestore_core_db.%
#slave-skip-errors       = 1062
