[client]
default-character-set  = utf8


[mysqld]
user                    = mysql
character_set_server    = utf8
slow_query_log          = ON
long_query_time         = 10
lower_case_table_names  = 1
innodb_file_per_table   = 1
#innodb_buffer_pool_size = 2G
log-bin                 = mysql-bin
binlog_format           = mixed
expire_logs_days        = 15
max_connections         = 1000
skip-name-resolve
skip-external-locking
explicit_defaults_for_timestamp



[mysqld_safe]
log-error               = /var/log/mysqld.log
pid-file                = /var/run/mysqld/mysqld.pid
